*{
    padding:0px;
    margin:0px;
}

/* width */
::-webkit-scrollbar {
    width: 5px;
  }
  
  /* Track */
  ::-webkit-scrollbar-track {
    box-shadow: inset 0 0 5px grey; 
    border-radius: 20px;
  }
  
  /* Handle */
  ::-webkit-scrollbar-thumb {
    background: #8904B1; 
    border-radius: 30px;
  }
  
  /* Handle on hover */
  ::-webkit-scrollbar-thumb:hover {
    background: #AD83DE; 
  }
  body {
      background-color: black;
  }
/* fim geral */
/* popUp*/
.boxPopUp{
    display:none;
    position:absolute;
    top:10px;
    left:35%;
    padding:10px;
    width: 380px;
    background-color: white;
    height: auto;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition :top 15s;
    z-index: 100000000000000;
}

.ativo{
    display:block;
    top:150px;
}
#closePopLogin{
    font-size: 1.6em;
    color:black;
    float:right;
    margin-bottom: 10px;
}
.boxForm input{
   width: 99%;
   margin-bottom:10px;
   outline:none;
   border:1px solid #BEC7D4;
   padding:8px 0px;
}
.btnPopLogar{
    background: #C1BED4;
    width: 100%;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding:10px 5px;
}

.fix{
    clear:both;
}


/* fim popUp*/

/*menu*/
.headerContainer{
    display :flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background-color: black;
    width: 65%;
    margin:0 auto;
}

.h{
    width: 100%;
    background-color: black;
}
.menu{
    display:flex;
    align-items: center;
    list-style:none;
    padding:0px;
    gap:.7rem;
}
.menu a{
    display:block;
    padding:.5rem;
    color:white;
    font-size: 1.2em;
}
#btnLogin{
 background-color: #AD83DE;
 border:none;
 outline:none;
 padding:5px 20px;
 font-size:1.1em;
 color:black;
 border-radius: 5px;
}

#hamburguer{
    display:none;
}
.main{
    display: flex;
    align-items: flex-start;
}
.container{
    width: 65%;
    margin:0 auto;
    background-color: black;
}
.geral{
    width: 70%;
    background-color: black;
}
.aside{
    width: 30%;
    background-color: grey;
}
.containerVideo{
    box-sizing: border-box;
    padding:5px;
}
.video{
    width: 100%;
    height: 500px;
}
.video iframe{
    width: 100%;
    height: 100%;
}
.name_ep{
    color:white;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.nameAnim{
    font-size: 0.em;
    width: 70%;
}
.ep{
    align-items: flex-end;
    width: 30%;
    text-align: right;
}
.animeOptions{
    gap:10px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.anterior , .proximo{
    width: 33%;
    background-color:#AD83DE;
}
.episodios{
    color:white;
    background-color: #7F87EB!important;
    background-color: black;
    width: 34%;
    text-align: center;
}
.animeOptions button{
    background-color: #7F87EB!important;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
}
.iptPostar{
    width: 100%;
    line-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    cursor: text;
    margin :10px 0px;
}
.btnComentar{
    color:white;
    width: 100%;
    background-color: black;
    height: 30px;
    text-align: center;
    line-height: 25px;
}

.btnComentar button{
    text-transform: uppercase;
    background-color: #7F87EB!important;
    border: none;
    outline: none;
    width: 100%;
    padding: 10px 20px;
}
.comentario{
    color:white;
    padding: 20px 10px;
    height: 80px;
    background-color: black;
    margin-bottom: 10px;
    display: flex;
    max-height: 200px;   
}
.foto{
    float:left;
    background-color: grey;
    height: 100%;
    width: 90px;
    border-radius: 50%;
    min-width: 90px;
}
.nameHour{height:20px;
    display: flex;
}
.horaName{
    margin-left: 10px;
}
.infos{
    height: 120px;
    margin-left: 20px;
}
.comentPosted{
    font-size: 0.9em;
    white-space:wrap; 
    width: 90%;
    white-space: initial;
    max-height: calc(120px - 20px);
    overflow: auto;
    text-overflow: ellipsis;
}
.clear{
    clear: both;
}




@media (max-width: 767.98px) {



}