body{
    background-image: url(fundo.jpg);
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}

.boxPopUp{
    display:none;
    position:absolute;
    top:10px;
    left:35%;
    padding:10px;
    width: 380px;
    background-color: white;
    height: auto;
    text-align: center;
    box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
    transition :top 15s;
    z-index: 100000000000000;
}

.ativo{
    display:block;
    top:150px;
}
#closePopLogin{
    font-size: 1.6em;
    color:black;
    float:right;
    margin-bottom: 10px;
}
.boxForm input{
   width: 99%;
   margin-bottom:10px;
   outline:none;
   border:1px solid #BEC7D4;
   padding:8px 0px;
}
.btnPopLogar{
    background: #C1BED4;
    width: 100%;
    border: none;
    font-weight: 500;
    cursor: pointer;
    padding:10px 5px;
}

.fix{
    clear:both;
}
/*menu*/
.containerHeader{
    display :flex;
    align-items: center;
    height: 70px;
    justify-content: space-between;
    background-color: black;
}
.h{
    width: 100%;
    background-color: black;
}
.menu{
    display:flex;
    align-items: center;
    list-style:none;
    padding:0px;
    gap:.7rem;
}
.menu a{
    display:block;
    padding:.5rem;
    color:white;
    font-size: 1.2em;
}
#btnLogin{
 background-color: #AD83DE;
 border:none;
 outline:none;
 padding:5px 20px;
 font-size:1.1em;
 color:black;
 border-radius: 5px;
}

#hamburguer{
    display:none;
}

*{
    padding:0px;
    margin:0px;
}
main.container{
    width: 100%;
    background-color: grey;
}
/*fim menu*/